<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event ID Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
.btn-custom, .btn-custom:hover {
        background-color: #092D13;
        color: white;
}
.nd {
	margin-top: 10px;
}
</style>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Event ID Form</h1>
                <form id="eventForm" onsubmit="redirectEvent(); return false;">
                    <div class="form-group">
                        <label for="eventID">Event ID:</label>
                        <input type="text" class="form-control" id="eventID" placeholder="Enter Event ID" required>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>

                    <br>
                    <a href="/logout/" class="btn btn-warning nd">Logout</a>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function redirectEvent() {
            const eventID = document.getElementById("eventID").value;
            if (eventID) {
                window.location.href = `/eventapp/radar/${eventID}`; // Update the URL path as needed
            }
        }
    </script>
</body>
</html>
