{% extends 'eventapp/basetemp.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}                                   

{% for i in up %}
    {% if user.userprofile.new_pass == '0' or not user.userprofile %}
    <script>
        window.location.href = '/eventapp/change_p';
    </script>
    {% endif %}
<meta http-equiv="refresh" content="60">

<style>
    .asd {
        margin-bottom: 30px;
        width: 500px;
    }

    .btn-custom, .btn-custom:hover {
        background-color: #092D13;
        color: white;
    }

    .btn-custom1, .btn-custom1:hover {
        background-color: #FFC107;
        width: 100px;
    }
    .tl {
        background-color: #092D13;
        width: 180px;
        color: white;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .ed {
        margin: auto;
    }

    .hidden-content {
    display: none;
  }

  .show-on-hover:hover .hidden-content {
    display: block;
  }

  .show-on-hover:hover .btn-success {
    display: none;
  }
</style>
<div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="passwordChangeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordChangeModalLabel">Change Password Required</h5>

                </div>
                <div class="modal-body">
                    <!-- Password change form goes here -->
                    <form method="POST">
                        {% csrf_token %}
                        <!-- Include form fields for the new password -->
                        <!-- For example: -->
                        <label for="new_password"><strong>New Password:</strong></label>
                        <input type="password" name="new_password" id="new_password" class="form-control">
                        <br>
                        <!-- Add any other required form fields -->
                        <button type="submit" class="btn btn-custom">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
      </div>
      <!-- end of modal pass -->

      <script>
          $(document).ready(function () {
              // Check if new_pass is '0' or if UserProfile doesn't exist
              {% if user.userprofile.new_pass == '0' or not user.userprofile %}
                  // Show the password change modal
                  $('#passwordChangeModal').modal('show');
              {% endif %}
          });
      </script>   
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h3>Welcome, {{user.first_name}} {{user.last_name}}</h3><br>
<div class="container-fluid ed">
<h5 class="tl rounded">Events Today</h5>
<ul class="list-group asd">
    {% for event in evt %}
        <li class="list-group-item">
            <div class="event-thumbnail">
                <h2 class="h4">{{ event.events_name }}</h2>
                <p>{{ event.events_details }}</p>
                <p><strong>Schedule:</strong> {{ event.events_schedule }}</p>
                <p><strong>Requestor:</strong> {{ event.events_requestor }}</p>
                <p><strong>{% for event_participant in belong %}
                        {% if event_participant.event.events_details_id == event.events_details_id %}
                            <div class="alert alert-success">You are invited in this event</div>
                            {% if event.ips_online == 'online' %}
                            <strong><a href="http://127.0.0.1:8000/eventapp/ips/{{session_id}}/{{user}}/{{event.events_details_id}}" target="__blank" class="btn btn-success btn-sm">IPS is Online!</a></strong>
                            {% else %}

                            <strong><button class="btn btn-danger btn-sm" disabled>IPS is Offline!</button></strong>
                            {% endif %}
                            <span class="hidden-content">IPS is live access this to log your attendance.</span>
                        {% endif %}
                    {% endfor %}</strong></p>

                
                <a href="{{ event.ips_url }}" class="btn btn-custom btn-sm">More Info</a>
            </div>
        </li>
        <br>
        {% empty %}
        <li class="list-group-item">
            <div class="event-thumbnail">
                <h5><small>There's no event for today - {{now}}</small></h5>
            </div>
        </li>
    {% endfor %}
</ul>

<h5 class="tl rounded">Upcoming Events</h5>
<ul class="list-group asd">
    {% for event in upcoming_events %}
        <li class="list-group-item">
            <div class="event-thumbnail">
                <h2 class="h4">{{ event.events_name }}</h2>
                <p>{{ event.events_details }}</p>
                <p><strong>Schedule:</strong> {{ event.events_schedule }}</p>
                <p><strong>Requestor:</strong> {{ event.events_requestor }}</p>
                <p><strong>{% for event_participant in belong %}
                        {% if event_participant.event.events_details_id == event.events_details_id %}
                            <div class="alert alert-success">You are invited in this event</div>
                        {% endif %}
                    {% endfor %}</strong></p>
                <a href="{{ event.ips_url }}" class="btn btn-custom btn-sm">More Info</a>
            </div>
        </li>
        <br>
    {% endfor %}
</ul>

<h5 class="tl rounded">Past Events</h5>
<ul class="list-group asd">
    {% for event in pst %}
        <li class="list-group-item">
            <div class="event-thumbnail">
                <h2 class="h4">{{ event.events_name }}</h2>
                <p>{{ event.events_details }}</p>
                <p><strong>Schedule:</strong> {{ event.events_schedule }}</p>
                <p><strong>Requestor:</strong> {{ event.events_requestor }}</p>
                <p><strong>{% for event_participant in belong %}
                        {% if event_participant.event.events_details_id == event.events_details_id %}
                            <div class="alert alert-success">You are invited in this event</div>
                        {% endif %}
                    {% endfor %}</strong></p>
                <a href="{{ event.ips_url }}" class="btn btn-custom btn-sm">More Info</a>
            </div>
        </li>
        <br>
    {% endfor %}
</ul>
</div>



{% empty %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="alert alert-danger" role="alert">
  Contact your IT Administrator!
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endfor %}

{% endblock content %}
