{% extends "eventapp/basetemp.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css"> <!-- DataTables CSS -->
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> <!-- DataTables JavaScript -->
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script> <!-- DataTables Bootstrap JavaScript -->
<script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script> <!-- DataTables Buttons JavaScript -->
<script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script> <!-- DataTables Buttons Print JavaScript -->

<style>
    .btn-custom, .btn-custom:hover {
        background-color: #092D13;
        color: white;
        width: 150px;
    }
    table {
        margin-top: 10px;
    }
    .thead {
        background-color: #092D13;
        color: white;
    }

    .ar {
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .prnt {
        margin-bottom: 20px;
        float: right;
        margin-top: 33px;
        margin-left: 20px;
    }
    .ired {
        color: red;
    }

    .igreen {
        color: green;
    }
</style>
<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <h1>Events List</h1>

    <a href="/eventapp/create_event" class="btn btn-custom">Create Event</a>
    <br><br>
    <a href="#" class="btn btn-primary btn-filter btn-sm" data-filter="all">Show All</a>
    <a href="#" class="btn btn-success btn-filter btn-sm" data-filter="active">Active Events</a>
    <a href="#" class="btn btn-danger btn-filter btn-sm" data-filter="archived">Archived Events</a>
    <table class="table" id="event-table">
        <thead class="thead">
            <tr>
                <th>ID</th>
                <th>Event Name</th>
                <th>Event Description</th>
                <th>Event Schedule</th>
                <th>IPS Status</th>
                <th>eCert</th>
                <th>Requestor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for items in ed %}
                <tr>
                    <td>{{items.events_details_id}}</td>
                    <td>
                        {{items.events_name}}
                        <br>
                        {% if items.event_active == 0 %}
                            <small class="ar bg-danger rounded">Archived</small>
                        {% endif %}
                    </td>
                    <td>
                        <small>{{items.events_details}}</small>
                    </td>
                    <td>
                        <small>{{items.events_schedule}}</small>
                    </td>
                    <td>
                        {% if items.ips_online == 'offline' %}
                        <small class="ired">{{items.ips_online}}</small>
                        {% elif items.ips_online == 'online' %}
                        <small class="igreen">{{items.ips_online}}</small>
                        {% endif %}
                    </td>
                    <td>
                        {% if items.cert_allowed == 'No' %}
                        <p style="color: red;">&#x274C;</p>
                        {% else %}
                        <p style="color: green;">&#x2714;</p>
                        {% endif %}
                    </td>
                    <td>
                        {{items.events_requestor}}
                    </td>
                   <td>
                        <a href="/eventapp/event_det/{{items.events_details_id}}" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
                        <a href="/eventapp/edit_event/{{items.events_details_id}}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                        {% if items.event_active == 1 %}
                            <a href="/eventapp/ar/{{items.events_details_id}}" class="btn btn-danger btn-sm">
                                <i class="fas fa-toggle-off"></i>
                            </a>
                        {% else %}
                            <a href="/eventapp/ua/{{items.events_details_id}}" class="btn btn-success btn-sm">
                                <i class="fas fa-toggle-on"></i>
                            </a>
                        {% endif %}
                        <a href="/eventapp/hist/{{items.events_details_id}}/{{items.events_name}}" class="btn btn-primary btn-sm"><i class="fas fa-history"></i></a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Initialize DataTable and Print Button -->
<script>
    $(document).ready(function() {
        var table = $('#event-table').DataTable({
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'print',
                    className: 'btn btn-custom prnt',
                }
            ]
        });

        $('.btn-filter').on('click', function() {
            var filterValue = $(this).data('filter');
            table.search('').columns().search('').order([0, 'asc']).draw();

            // Apply the filter based on the button clicked
            if (filterValue === 'active') {
                table.column(1).search('^(?:(?!Archived).)*$', true, false).draw();
            } else if (filterValue === 'archived') {
                table.column(1).search('Archived').draw();
            }
        });
    });
</script>

{% endblock content %}